.ff_banner{width:100%;height: 100%;position: relative;background-size: cover!important;}
.banner_allffgj{position: absolute;left:0;right: 0;top:42%;margin:auto;}
.banner_allffgj .pstv1 {width: 66px;height: 6px;background: #fff;margin: 0 auto;margin-bottom: 31px;display: none}
.banner_allffgj .pstv2 {font-size: 45px;line-height: 80px;text-align: center;color:#fff;}

.box_lsglist{width:100%;height:8rem;background: #2e1d48;overflow: hidden}
.box_list_left{width:28%;float:left;height: 100%;position: relative;}
.box_list_right{height: 100%;width:72%;overflow: hidden;float:right;}
.box_list_right img{height: 100%;width:100%;}
.boxleft_bor{height: 5px}
.boxleft_bor .border_lg{width:54px;height: 5px;background: #bf9f50;float: right;}
.boxleft_bor2{color: #bf9f50;line-height: 1rem;font-size: 36px;text-align: right}
.xq_lists{color: #fff;line-height: 30px;font-size: 18px;margin-top:0.66rem}
.box_left_ip{width:74%;margin:auto;bottom:15%;position: absolute;left:0;right:0;}
.box_lsglist2 .box_list_right{float: left;}
.box_lsglist2 .boxleft_bor .border_lg{float: left;}
.box_lsglist2 .box_list_left{float: right;}
.box_lsglist2 .boxleft_bor2{text-align: left}
.banner_contact{position: relative}
.contact_lghs{line-height: 160px;height: 160px;font-size: 30px;color:#fff;max-width: 1300px;margin:0 auto;width: 1255px}
@media screen and (max-width: 1200px) {
	.boxleft_bor2{font-size: 24px;}
	.xq_lists{color: #fff;line-height: 24px;font-size: 14px;margin-top:0.5rem}

	.contact_lghs{line-height:1.8rem;height: 1.8rem;width: 96%;font-size: 24px}
}


@media screen and (max-width: 1000px) {
	.box_left_ip{width:82%;margin:auto;top:10%;}
}

@media screen and (max-width: 800px) {
	.boxleft_bor2{font-size: 20px;}
	.xq_lists{line-height: 20px;font-size: 12px;margin-top:0.2rem}
}





.banner_ly{width:100%;position: relative;background-size: cover!important;}

.ly_alltitle p{text-align: center}
.ly_alltitle p:nth-of-type(1){font-size: 28px;line-height: 56px}
.ly_alltitle p:nth-of-type(2){font-size: 18px;line-height: 30px;}
.ly_all{width:1250px;margin:0 auto;color:#fff;}

.ly_bng .ly_blist{width:540px;margin-bottom:26px;}
.ly_bng .ly_blist p{text-align: center;font-size: 18px;line-height: 48px;}
.ly_bng .ly_blist input{width:100%;border:1px solid #766564;background: #DED2CC;height: 60px;line-height: 60px;display: block;text-indent: 1em;font-size: 24px}
#text_lg{width:100%;height: 270px;background: #DED2CC;border:1px solid #766564;display: block;font-size: 18px;line-height: 30px;color:#636363;text-indent: 1em}
.textarea_bn{margin-top: 20px;position: relative;}
.box_zl{text-align: center;position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;height: 30px;line-height: 30px;font-size: 24px;color:#636363;}
.inpt_btn1{display: inline-block;margin:0 26px;cursor:pointer;width:186px;height: 50px;line-height: 50px;text-align: center;background: #bf9f50;color:#fff;font-size: 24px;border:none;font-family: '微软雅黑'}
.inpt_btn1:hover{background: #60448d;}
.but_a{text-align: center;margin-top:56px;padding-bottom: 70px;}
@media screen and (max-width: 1400px){
	.banner_allffgj .pstv4{margin-bottom: 0.333rem;}
    .banner_allffgj .pstv2{font-size: 0.46rem;line-height: 0.6rem;text-align: center;}

	.contact_lghs {width:1030px;}

	.contact{width:1030px;margin:0 auto;}
}
@media screen and (max-width:1300px) {
	.ly_all{width:78%;margin:0 auto;color:#fff;}
	.ly_bng .ly_blist{width:45%;margin-bottom:0.4rem;}
	.ly_bng .ly_blist input{height: 0.75rem;line-height: 0.75rem;display: block}
	.ly_bng .ly_blist p {font-size: 14px; line-height:30px;}
	.textarea_bn{margin-top: 10px}
	#text_lg {width: 100%;height: 3rem;}
	.box_zl{text-align: center;position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
	.ly_bng .ly_blist input{font-size: 18px}
}
@media screen and (max-width: 910px){
	.ly_all{padding-top: 80px}
}

@media screen and (max-width:640px) {
	.ly_all {width: 93.75%;}
	.ly_bng .ly_blist{width:100%;}
	.ly_bng .ly_blist input{height: 1rem;line-height:1rem;display: block}
	#text_lg{height: 4.5rem;font-size: 0.6rem;line-height: 1rem;}
	.box_zl{font-size: 12px;line-height: 20px;height: 20px;}
	.inpt_btn1{cursor:pointer;width:5rem;height: 1.2rem;line-height:1.2rem;font-size: 0.6rem;border:none;margin:0;float: left;}
	.inpt_btn3{float: right;}
	.but_a{margin:0;padding:1rem 0 2.7rem;}

	.ly_alltitle p:nth-of-type(1){font-size: 0.75rem;line-height:1.2rem}
.ly_alltitle p:nth-of-type(2){font-size: 0.6rem;line-height: 1rem;}
.ly_bng .ly_blist p{font-size: 12px}
.ly_all{padding-top: 60px}
}



.banner_contact{width:100%;height: 690px;background: url(http://www.jlcmchina.com/templets/default/img/contact.jpg) center center no-repeat;background-size: cover!important;}
.title_l{line-height: 170px;font-size: 30px;color:#3d3a39;margin-top: 25px}
.contact{max-width:1300px;margin:0 auto;width: 1255px;}
.contact .contact_list p{font-size: 18px;line-height: 18px;height: 18px;font-size: 18px;color: #fff;}
.contact .contact_list p:nth-of-type(1){margin-bottom: 6px}
.contact .contact_list{border-left:8px solid #fff;padding-left: 30px;height: 40px;float: left;width:45%;margin-bottom: 56px}
.contact .contact_list p a{color:#fff;}
.contact .contact_list2{float:right;width: 40%}
.jllx{width:1255px;margin:0 auto;max-width: 1300px;}
.jllx ul{width:100%;}
.jllx ul li{width:25%;float:left;margin-bottom: 56px;    height: 230px;}
.list_pg1{line-height: 30px;font-size: 22px;color:#3d3a39;border-left:8px solid #585757;padding-left: 30px	;margin-bottom: 7px;margin-right: 5% }
.list_pg2_new{    font-size: 14px;
    height: 20px;
    margin-bottom: 15px;}
.list_pg2 {padding-left:38px;}
.list_pg2 span:nth-of-type(1){line-height: 36px;font-size: 14px;height: 36px;color:#585757;display: block}
.list_pg2 span:nth-of-type(2){line-height: 36px;font-size: 14px;height: 36px;color:#8c3833;display: block}
.phone_numsgb{padding:15px;background: rgba(114,38,9,0.4);}

@media screen and (max-width: 1400px){
	
  

	.contact{width:1030px;margin:0 auto;}
	.list_pg1{line-height: 30px;font-size: 18px;color:#3d3a39;border-left:5px solid #585757;padding-left:20px	;margin-bottom: 5px;margin-right: 0% }
.list_pg2_new{    font-size: 14px;
    height: 20px;
    margin-bottom: 10px;}
.list_pg2 {padding-left:24px;}
.list_pg2 span:nth-of-type(1){line-height: 24px;height: 24px;}
.list_pg2 span:nth-of-type(2){line-height: 24px;height: 24px;}




}
@media screen and (max-width:1240px) {
	.contact .contact_list2{float:right;width: 45%}
	.jllx{width:90%;margin:0 auto;}

}
@media screen  and (min-width:1240px) and (max-width:1400px) {
  .jllx ul li{width:25%;height: 188px;}
    .jllx ul li:nth-of-type(4n){width:18%;}
    .jllx ul li:nth-of-type(1){width:31%;}
    .jllx ul li:nth-of-type(5){width:31%;}
	.contact_lghs {width:1030px;}

}
@media screen  and (min-width:640px) and (max-width:1240px) {

	.jllx ul li{width:33%;height: 140px;}
	 .jllx ul li:nth-of-type(4n){width:33%;}
    .jllx ul li:nth-of-type(3){width:25%;}
    .jllx ul li:nth-of-type(1),.jllx ul li:nth-of-type(4){width:42%;}
    .jllx ul li:nth-of-type(6){width:25%;}
    .jllx ul li:nth-of-type(7){width:42%;}

}

@media screen and (max-width:1150px) {
	.jllx{width:90%;margin:0 auto;}

}
@media screen and (max-width:1000px) {
	.contact .contact_list2{float:right;width: 45%}
	.contact .contact_list p{font-size: 14px;}
	.contact .contact_list{width: 30%;}
	.contact .contact_list2{float:right;width: 370px;}

}

@media screen and (max-width:640px) {
	.list_pg1{line-height: 0.8rem;height: 0.8rem;font-size: 0.65rem;color:#3d3a39;border-left:0.2rem solid #585757;padding-left: 0.4rem	;margin-bottom:0.6rem; }
.title_l{line-height: 2.5rem;font-size: 0.7rem;color:#3d3a39;margin:0.5rem auto 0;width:80%;}

	.jllx ul li{width:85%;margin:0 auto 1.15rem;display: block;float:none;height: auto}
	.list_pg2 span:nth-of-type(1){line-height:1.2rem;font-size: 0.5rem;height: 1.2rem;color:#585757;display: block}
	.list_pg2 span:nth-of-type(2){line-height:1.2rem;font-size: 0.5rem;height: 1.2rem;color:#8c3833;display: block}
	.list_pg2 {padding-left: 0.6rem;}
	.banner_contact{height: 24rem;}
	.contact{width: 100%;}
	.contact_lghs {width:85%;margin:0 auto;height: 3rem;line-height: 3rem;font-size: 0.7rem}
	.contact .contact_list{width:80%!important;float: none!important;margin:0 auto 20px;}


	.contact .contact_list p{font-size: 0.5rem;line-height: 0.6rem;height: 0.6rem;}
	.contact .contact_list p:nth-of-type(1){margin-bottom: 3px;    width: 120%;}
	.contact .contact_list2{float:right;width: 33%}
	.contact .contact_list {border-left: 3px solid #fff;padding-left: 13px;height: auto;height: 0.8rem;margin-bottom: 1.5rem;}
	.contact_lghs{padding-top: 45px}
	.banner_contact{position: relative;background-size:cover!important; }
.phone_numsgb{width:40%;}
}
@media screen and (min-width:640px) {
	.contact_lghs{padding-top: 160px}
}

@media screen and (max-width: 640px) {
	.box_lsglist{width:100%;height:auto;background: #2e1d48;overflow: hidden}

	.box_list_left{width:100%;float:none;height:auto;position: relative;}
	.box_list_right{width:100%;float:none;height:auto;position: relative;}
	.box_left_ip{width:100%;margin:auto;bottom:0%;position: relative;left:0;right:0;}
	.box_lsglist2 .box_list_right{float: none;}
	.boxleft_bor .border_lg{float: none}
	.box_lsglist{width:93.75%;margin: 0 auto}
	.boxleft_bor{margin-top: 1rem}
	.boxleft_bor .border_lg{width:1rem;height: 0.1rem;background: #bf9f50;}
.boxleft_bor2{color: #bf9f50;line-height: 2.1rem;font-size: 0.7rem;text-align: left}
.xq_lists{color: #fff;line-height: 1rem;font-size:0.6rem;margin-top:0.3rem;margin-bottom: 0.5rem}
.box_lsg{padding-bottom: 1.55rem;background:#2e1d48}
.banner_allffgj .pstv1 {height: 3px; margin-bottom: 15px; width: 1.25rem;}
.banner_allffgj .pstv2{font-size: 0.9rem;line-height: 1.2rem;}
.jtous{display: none}
.ff_banner{height: 16.25rem;    background-size: cover!important;}
}

.ly_alls{background: rgb(46, 29, 72);color:#fff!important;width:100%;}
.ly_alltitle2{padding-top: 245px;border-bottom:1px solid #bf9f54;width: 1250px;margin:0 auto 90px;padding-bottom: 15px}
.ly_alls ul{display: flex;-webkit-display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;width:1250px;margin:0 auto;}

.page_message{display: flex;-webkit-display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;width:1250px;margin:0 auto;padding-top: 30px;margin-bottom: 90px;border-bottom: 1px solid #bf9f54}


.ly_alls ul li{color:#fff;width: 565px;margin-bottom: 62px}
.ly_alls ul li>p:nth-of-type(1){color:#bf9f54;font-size: 24px;line-height: 32px;height: 64px;overflow: hidden}
.ly_alls ul li>p:nth-of-type(2)>span{color:#9e9fa1;font-size: 14px;line-height: 16px;}
.ly_alls ul li>p:nth-of-type(2){padding-bottom: 5px;border-bottom:1px solid #bf9f54;height: 16px;margin-bottom: 5px}
.ly_alls ul li>div>p:nth-of-type(1){color:#dbdcde;font-size: 16px;line-height: 1.6;}
.ly_alls ul li>div>p:nth-of-type(2){color:#dbdcde;font-size: 16px;line-height: 1.6;}

.icon_algs{line-height: 80px;height: 80px;color:#bf9f54;font-size: 24px;width:100%;color:#bf9f54;margin-bottom: 60px}
.icon_algs a{color:#bf9f54;}

@media screen and (max-width:1400px) {
	.jllx {
	    width: 1030px;
	    margin: 0 auto;
	}

	.ly_alls{background: rgb(46, 29, 72);color:#fff!important;width:100%;}
	.ly_alltitle2{padding-top: 150px;width: 78%;margin:0 auto 60px;padding-bottom: 15px}
	.ly_alls ul{width:78%;}
	.ly_alls ul li{color:#fff;width: 45%;margin-bottom: 42px}

	.page_message{width:78%;margin:0 auto;padding-top: 50px;}
	.icon_algs{margin-bottom: 60px}

}
@media screen and (max-width:1200px) {
	.contact_lghs{width: 910px;}
	.contact{width: 910px;}
	.jllx {
	    width: 910px;
	    margin: 0 auto;
	}
}
@media screen and (max-width:980px) {
	.contact_lghs{width: 90%;}
	.contact{width: 90%;}
	.jllx {
	    width: 90%;
	}
	.ly_alltitle2{padding-top: 100px;width:90%;margin:0 auto 40px;}
	.page_message,.ly_all,.ly_alls ul{width: 90%}
}
@media screen and (max-width:640px) {
	
	.ly_alls{color:#fff!important;width:100%;}
	.ly_alls ul{display: flex;-webkit-display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;width:93.75%;margin:0 auto;padding-top: 0;border-top:none;}
	.ly_alls ul li{color:#fff;width:100%;margin-bottom: 1.5rem}
	.ly_alls ul li>p:nth-of-type(1){color:#bf9f54;font-size: 0.66rem;line-height: 1rem;height:2rem;overflow: hidden}
	.ly_alls ul li>p:nth-of-type(2)>span{color:#9e9fa1;font-size: 0.45rem;line-height: 0.6rem;float:right;}
	.ly_alls ul li>p:nth-of-type(2){padding-bottom: 5px;border-bottom:1px solid #bf9f54;height: 16px;margin-bottom: 5px}
	.ly_alls ul li>div>p:nth-of-type(1){font-size: 0.6rem;line-height: 1rem;}
	.ly_alls ul li>div>p:nth-of-type(2){font-size:  0.6rem;line-height:1rem}

	.icon_algs{line-height: 1.5rem;height: 1.5rem;color:#bf9f54;font-size: 0.6rem;width:100%;color:#bf9f54;margin-bottom: 1.8rem}
.icon_algs a{color:#bf9f54;}


.page_message{width:93.75%;margin:0 auto;padding-top: 20px;}
	.icon_algs{margin-bottom: 30px}
	.list_pg2_new{height: auto;font-size: 0.5rem!important}
	.contact_lghs {
    width: 77%;
}
.ly_alltitle2{padding-top: 65px;width:93.75%;margin:0 auto 30px;}
}