.banner{background-size: cover!important; }
.tit_hy{width:55px;height: 6px;background: #bf9f50;margin:0px auto 0;}
.height_lg{height: 100px; }
.title_vn{font-size: 40px;line-height: 130px;height: 130px;margin-bottom: 37px;color:#60448d;text-align: center;}
.eight_rul{width:78.125%;margin:0 auto;}
.eight_rul .eight_rullist{width:12.5%;text-align: center;float:left;}
.eight_rul .eight_rullist img{margin-bottom: 20px;}
.eight_rul .eight_rullist p{line-height: 30px;height: 30px;font-size: 28px;color:#585757;}
.enght_te{font-size:24px;width:238px;height: 59px;line-height: 58px;text-align: center;color:#bf9f50;border:2px solid #bf9f50;margin:0 auto;display: block;margin: 168px auto 125px;}
.enght_te:hover{background: #bf9f50;color:#fff;}

.title_vn_2{color:#fff;}
.core_Strengths{background: url(../image/centerbga.jpg) no-repeat center center;background-size:cover;  }
.core_ul{width:1590px;margin:0 auto;padding-bottom: 80px;}
.core_ul .core_list{font-size:36px;color:#fff;width:23%; float:left;;margin:0 1% 27px;}
.core_ul .core_list .core_listbox{padding:0 5% 18px;cursor: pointer;transition: all 0.3s ease;-webkit-transition: all 0.3s ease;transition: all 0.3s ease}
.core_ul .core_list .core_listbox:hover{transform: translateY(-10px);-webkit-transform: translateY(-10px);}
.core_title{text-align: center;color:#dcb455;border:1px solid #dcb455;font-size: 24px;width:58px;height: 58px;line-height: 30px;text-align: center;border-radius: 50%;-webkit-border-radius: 50%;padding:20px;margin:0 auto;}
.core_intro{font-size: 18px;line-height: 30px;    height: 135px;overflow:hidden;text-align: center;margin-top: 24px;}
.support ul{    width: 78.125%;margin:0 auto;}
.support ul li{height: 170px;width:16.666%;text-align: center;margin-bottom: 60px;float: left;}
.support ul li .img_box{width:82px;height: 82px;margin:0 auto;margin-bottom: 30px;}
.support ul li .img_box img{height:100%;}
.support ul li p{height: 50px;line-height: 50px;color:#585757;font-size: 24px;text-align: center;}
.enght_te1{margin-top: 0!important;}
.invset{text-align: center;padding:140px 0 120px;}
.bghd{width:1590px;height: 1px;background: #dddede;margin:0 auto;}
.absth{width:240px;height: 60px;text-align: center;line-height: 60px;font-size: 28px;color:#fff;
	background: #60448d;margin:0 65px;display: inline-block;cursor:pointer;}
.absth_active,.absth:hover{background: #bf9f50}
.invset_box{}
.invset_box_l{display: none}
.investment_prospects{width:100%;margin:0 auto;}
.investment_prospects .invset_box_l .invset_box_l_gh{font-size: 18px;line-height: 28px;color:#585757;width: 80%;margin: 0 auto;}
.investment_prospects .invset_box_l .invset_box_l_gh p{margin-bottom: 28px;}
.more_lld{display: none}
.jmsp_all{background: url(../image/saw.jpg) no-repeat center center;background-size: cover!important}
.jmsp_all_box{width:1360px;margin:0 auto;}
.jmsp_list{width:25.333%;margin:0 4%;float:left;}
.jmsq_icon{width:100%;position: relative;margin-bottom: 95px}
.inpt2{width:100%;height: 58px;line-height: 58px;font-size: 24px;color:#b4b4b5;border:1px solid #b4b4b5;text-indent: 1em;border-bottom:1px solid #877179;background: rgba(0,0,0,0)}
.inpt1{height: 58px;line-height: 58px;font-size: 24px;color:#b4b4b5;border:1px solid #b4b4b5;text-indent: 1em;margin-right:0;margin-left:59px;display: block;border:none;border-bottom:2px solid #877179;background: rgba(0,0,0,0);width:80%;float: right}
.jmsq_icon i.sq1{background: url(../image/sq1.png) left center no-repeat;}
.jmsq_icon i.sq2{background: url(../image/sq2.png) left center no-repeat;}
.jmsq_icon i.sq3{background: url(../image/sq3.png) left center no-repeat;}
.jmsq_icon i{max-width:50px;height: 59px;position: absolute;display: inline-block;width:20%;}



.jt_lbmn{width:348px;height: 60px;line-height: 60px;margin:0 auto;display: block; font-size: 24px;text-align: center;color:#fff;background: rgba(255,255,255,0.3);border:none;margin:120px auto 28px;}
.tlg_l{text-align: center;}
.tlg_l span{display:inline-block;color:#b4b4b5;font-size: 14px;height: 22px;line-height: 22px;text-align: center;padding-left:30px;background: url(../image/nvb.png) left center no-repeat;}
.bng_height{height: 150px;}



.six_ms{width:100%;padding-bottom: 20px;}
.six_msbox{margin:0 auto;width:1560px;justify-content: space-between;display: flex;
	flex-direction: row;flex-wrap: wrap
}
.six_msbox_list{width:25.333%;float:left;color:#fff;text-align: center;margin:0 4% 80px;}
.six_msbox_list>div:nth-of-type(1){
	font-size:24px;
	width:58px;
	height: 58px;
	line-height: 58px;
	border:1px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-weight: 600;
	margin:0 auto;
}
.six_msbox_list>div:nth-of-type(2){
	font-size:24px;
	line-height: 80px
}
.six_msbox_list>div:nth-of-type(3) {
	margin:0 auto;
	font-size:17px;
	line-height: 24px
}
.six_msbox_list>div:nth-of-type(3) a{
	
	color:#fff;

}



.six_ms{background: url(../image/sixbg.jpg) center center no-repeat}

.title_icong{height: 40px;font-size: 36px;color:#585757;line-height: 40px;}
.title_icong i{height: 40px;width:40px;background: url(../image/stree_g.png) left center no-repeat;display: inline-block;position: relative;top:7px;}
.bg1{width:1560px;margin:0 auto 70px;}
.title_icong{margin-bottom: 20px}
.jm_box1{width:100%;}
.jm_box1 img{width:100%;}
.bgimg1{display:block }
.bgimg2{display: none}

.tj_iconw{width:100%;height:443px;overflow:hidden;}
.tj_iconw_lhg{width:56.5%;height:450px;float: left;overflow:hidden;}
.tj_iconw_lhg img{width:auto;height: 444px}
.jt_right{background:rgb(46, 29, 72);float: left;width:43.5%;height:385px;padding-top: 58px;}
.jt_right p{line-height: 30px;color: #fff;height: 30px;font-size: 20px;margin-bottom: 18px;padding-left: 70px}
.jt_right p a{color:#fff;}
.jt_right p i{width:7px;height: 7px;border-radius: 50%;background:#fff;display: inline-block;margin-right: 30px;position: relative;top:-3px;}


.tj_lc{width:1500px;margin:0 auto;height: 390px;}

.tj_lcall .s_lggh1{width:178px;height: 53px;line-height: 53px;font-size: 24px;text-align: center;
	border-radius: 8px;-webkit-border-radius: 8px;background:#fff;color:#60448d;border:2px solid #60448d;margin:0 auto;}
	.tj_lcall{width:12.5%;float:left;position: relative;}
.tj_lcall a{display: block;padding:0 5px;text-align: center;}
.tj_lcall .s_lggh2{font-size: 18px;color:#585757;line-height: 26px;height: 52px;margin-top: 20px;}
.tj_lcall .s_lggh1:hover{background:#60448d;color:#fff;}

.tj_lcall2 .s_lggh2{margin-bottom: 20px;margin-top: 0px;position: absolute;top: -58px;}
 .tj_lcall2{top: 65px;}
.tj_lcall1{top: 267px;}
.tj_lc{background: url(../image/fsfv.png) -43px  center no-repeat;background-size: contain;padding: 0 1%;}


.tj_lc_alldd2{display: none}
.phone_numsgb { padding: 15px; background: rgba(0,0,0,0.4);}
.btn_ickg{width:240px;height:60px;font-size: 24px;text-align: center;border:1px solid #fff;color:#fff;display: inline-block;line-height: 60px;margin-top: 70px}
.join_banner{position: relative;top:36%;text-align: center}
.join_banner p{color:#fff;}
.join_banner p:nth-of-type(1){font-size: 46px;margin-bottom: 20px;letter-spacing: 6px;}
.join_banner p:nth-of-type(2){font-size: 28px;line-height: 45px;letter-spacing: 3px}
.join_banner p:nth-of-type(3){font-size: 28px;line-height: 30px;letter-spacing: 3px;}
.ul_lg{width:87.5%;margin:0 auto;}
.ul_lg ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.ul_lg ul li{
	width: 25%;
	margin-bottom: 80px;
}
.ul_lg ul li p:nth-of-type(1){
	font-size:24px ;
	line-height: 56px;
	height: 56px;
	color: #60448d;
	border-radius: 50%;
	border: 1px solid #60448d;
	width: 56px;
	text-align: center;
	margin: 0 auto;
}
.ul_lg ul li p:nth-of-type(2){
	font-size:24px ;
	line-height: 68px;
	height: 68px;
	color: #60448d;
	text-align: center
}
.ul_lg ul li p:nth-of-type(3){
	font-size:17px ;
	color: #000000;
	text-align: center;
	margin-bottom: 10px;
}
.ul_lg ul li p:nth-of-type(4),.ul_lg ul li p:nth-of-type(5){
	font-size:17px ;
	line-height: 24px;
	color: #000000;
	text-align: center;
	line-height: 24px;
	width: 80%;
	margin: 0 auto;
}
.ul_lg ul li:hover p:nth-of-type(1){
background: #60448d;
border: 1px solid #60448d;
color: #fff;
}
.wechats_btm .wechat_phone1,.wechats_btm .wechat_phone2{
	font-size: 24px;
	text-align: center;
	color: #fff;
	line-height: 40px;
}
.wechats_btmimg{
	text-align: center;
	padding: 50px 0 100px;
}
.wechats_btmimg img{
	width: 178px;
	height: 178px;
	
}
.wechats_btmimg p{
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.wechats_btmimg>div>div{
	margin: 0 30px 0;
	display: inline-block;

}
.wechats_btmimg_item{
	display: inline-block
}

@media screen and (max-width: 1590px) {
	.core_ul{width:96%;}
	.bghd{width:96%;}

	.tj_lc{width:96%!important}
	.six_msbox{width:82.5%;}
}

@media screen and (max-width: 1560px) {
	.eight_rul{width:96%;margin:0 auto;}
	.enght_te{margin:1.5rem auto 1.1rem;}
	.core_ul {padding-bottom: 2rem}

	.bg1{width:80%;}
}
@media screen and (max-width: 1500px) {
	.invset_box_l_gh{width:96%;margin:0 auto;}
	.support ul{width:96%;margin:0 auto;}
	.investment_prospects{width:100%;margin:0 auto;}



	.jt_right p{padding-left:20px}

	.tj_iconw_lhg{width:50%;}
	.jt_right{width:50%;}
	.tj_lcall .s_lggh1 {
	    width: 100%;
	    height: 53px;
	    line-height: 55px;
	    font-size: 20px;
	    text-align: center;
	    border-radius: 8px;
	    -webkit-border-radius: 8px;
	    background: #fff;
	    color: #60448d;
	    border: 1px solid #60448d;
	    margin: 0 auto;
	}
	.tj_lcall .s_lggh2{font-size: 14px}

}
@media screen and (max-width: 1400px) {
	.btn_ickg{width: 200px;height: 45px;font-size: 17px;text-align: center;border:1px solid #fff;color:#fff;display: inline-block;line-height: 45px;margin-top: 47px;}

	.join_banner p{color:#fff;}
	.join_banner p:nth-of-type(1){font-size: 30px;margin-bottom: 10px;letter-spacing: 6px;}
	.join_banner p:nth-of-type(2){font-size: 20px;line-height: 25px;}
	.join_banner p:nth-of-type(3){font-size: 20px;line-height:  25px;}	


	.six_msbox_list{width:25.333%;float:left;color:#fff;text-align: center;margin:0 4% 60px;}
	.six_msbox_list>div:nth-of-type(1){
		font-size:22px;
		width:50px;
		height: 50px;
		line-height: 50px;
	}
	.six_msbox_list>div:nth-of-type(2){
		font-size:22px;
		line-height: 70px
	}
	.six_msbox_list>div:nth-of-type(3) {
		margin:0 auto;
		font-size:16px;
		line-height: 24px
	}
	.ul_lg ul li{
		width: 25%;
		margin-bottom: 60px;
	}
	.ul_lg ul li p:nth-of-type(1){
		font-size:20px ;
		line-height: 48px;
		height: 48px;
		width: 48px;
	}
	.ul_lg ul li p:nth-of-type(2){
		font-size:20px ;
		line-height: 56px;
		height: 56px;
	}
	.ul_lg ul li p:nth-of-type(3){
		font-size:16px ;
	}
	.ul_lg ul li p:nth-of-type(4),.ul_lg ul li p:nth-of-type(5){
		font-size:16px ;
		line-height: 20px;
		line-height: 20px;
		width: 96%;
	}
	.wechats_btm .wechat_phone1,.wechats_btm .wechat_phone2{
		font-size: 20px;
		text-align: center;
		color: #585757;
		line-height: 32px;
	}
	.wechats_btmimg{
		text-align: center;
		padding: 40px 0 80px;
	}
	.wechats_btmimg img{
		width: 160px;
		height: 160px;
		
	}
	.p_lg_next {
		font-size: 18px;
		line-height: 1.8;
		color: #585757;
		margin: 5%;
	}
	.box_allg_lkhg{
		margin-bottom: 70px
	}
	
}
@media screen and (max-width:1360px) {
	.jmsp_all_box{width:96%;margin:0 auto;}
}
@media screen and (max-width: 1300px) {
	.support ul li{height: 140px;width:16.666%;margin-bottom: 40px;float: left;}
	.support ul li .img_box{width:auto;height: 70px;margin:0 auto;margin-bottom: 20px;}
	.support ul li p{height: 40px;line-height: 40px;color:#585757;font-size: 22px;text-align: center;}
}
@media screen and (max-width: 1200px) {
	.tit_hy{margin:0 auto 0;}
	.height_lg{height:1.2rem ; }
	.title_vn{font-size: 0.7rem;line-height: 2rem;height:2rem;margin-bottom: 0.5rem;}
	.eight_rul .eight_rullist{width:12.5%;text-align: center;float:left;}
	.eight_rul .eight_rullist img{margin-bottom: 15px;width:80%;}
	.eight_rul .eight_rullist p{line-height: 24px;height: 24px;font-size: 24px;color:#585757;}
	.enght_te{width:160px;height: 40px;line-height: 40px;font-size:18px;}


	.core_title{font-size: 20px;width:48px;height: 48px;line-height: 26px;padding:15px;}
	.core_intro{font-size: 14px;line-height: 24px; height: 120px;;overflow:hidden;}
	.absth{width:160px;height: 40px;line-height: 40px;font-size: 20px;margin:0 20px;}
	.invset {padding: 1.8rem 0 1.3rem;}
	.invset_box {margin-bottom:1.8rem;}

.title_icong{height: 30px;font-size: 24px;color:#585757;line-height: 30px;}
.title_icong i{height: 30px;width:30px;background: url(../image/stree_g.png) left center no-repeat;display: inline-block;position: relative;top:7px;background-size: contain}

.jt_right p {font-size: 16px;}
 .tj_lcall .s_lggh1{height: 40px;line-height: 40px;font-size: 16px}
 .ffservice ul li p{font-size: 20px}
}
@media screen and (max-width: 1000px) {
	.eight_rul .eight_rullist p{line-height: 20px;height: 20px;font-size: 20px;color:#585757;}

	.tj_iconw{height: auto}
.tj_iconw_lhg{width:100%;height: auto;float: none}
.tj_iconw_lhg img{width:100%;}
.jt_right{width:100%;height: auto;float: none;padding:20px 0;}
	
.six_msbox_list{margin:0 4% 50px;}
.six_msbox_list>div:nth-of-type(1){
	font-size:20px;
	width:40px;
	height: 40px;
	line-height: 40px;
}
.six_msbox_list>div:nth-of-type(2){
	font-size:20px;
	line-height: 60px
}
.six_msbox_list>div:nth-of-type(3) {
	margin:0 auto;
	font-size:14px;
	line-height: 20px
}
.ul_lg ul li{
	width: 25%;
	margin-bottom: 40px;
}
.ul_lg ul li p:nth-of-type(1){
	font-size:18px ;
	line-height: 40px;
	height: 40px;
	width: 40px;
}
.ul_lg ul li p:nth-of-type(2){
	font-size:18px ;
	line-height: 40px;
	height: 40px;
}
.ul_lg ul li p:nth-of-type(3){
	font-size:15px ;
}
.ul_lg ul li p:nth-of-type(4),.ul_lg ul li p:nth-of-type(5){
	font-size:15px ;
}


}

@media screen and (max-width: 900px) {
	.eight_rul .eight_rullist p{line-height: 20px;height: 20px;font-size: 16px;color:#585757;}
	.core_title{font-size: 18px;width:44px;height: 44px;line-height: 24px;padding:12px;}
	.core_intro{font-size: 14px;line-height: 20px;height: 140px;overflow:hidden;}

	.support ul li{height: 120px;width:25%;margin-bottom: 30px;float: left;}
	.support ul li .img_box{width:auto;height: 60px;margin:0 auto;margin-bottom: 20px;}
	.support ul li p{height: 30px;line-height: 30px;color:#585757;font-size: 16px;text-align: center;}

	.jmsp_list{width:100%;margin:0;}
	.jmsq_icon { width: 48%;margin-bottom: 1.5rem;float: left}
	.inpt2{width:48%;float: right}
	.title_icong{height: 24px;font-size: 16px;color:#585757;line-height: 24px;}
.title_icong i{height: 24px;width:24px;background: url(../image/stree_g.png) left center no-repeat;top:7px;background-size: contain}


.tj_lcall .s_lggh1 {font-size: 12px;line-height: 40px;height: 40px;}
}


@media screen and (max-width: 800px) {

	.core_intro{font-size: 12px;line-height: 20px; height: 100px;;overflow:hidden;}

}



@media screen and (max-width: 640px) {

	.phone_numsgb2{bottom: 10%;padding:10px 0;background: rgba(0,0,0,0) }
	.join_banner {top: 5rem;}
		.join_banner p:nth-of-type(1){font-size: 0.9rem;margin-bottom: 15px;letter-spacing: 2px;}
	.join_banner p:nth-of-type(2){font-size: 0.7rem;line-height: 1rem;}
	.join_banner p:nth-of-type(3){font-size: 0.7rem;line-height: 1rem;}
		.btn_ickg{width: 5rem;height: 1.5rem;font-size: 0.6rem;text-align: center;border:1px solid #fff;color:#fff;display: inline-block;line-height: 1.5rem;margin-top: 47px;}

	.lb_allss img{height: auto!important}
	.tj_iconw_lhg img{height: auto!important}
	.eight_rul{width:93.75%}
	.tit_hy{width:1.25rem;height: 0.18rem;background: #bf9f50;}
	.banner{background-size:cover!important;height: 16.2rem }
	.eight_rul .eight_rullist{width:25%;margin-bottom: 1.25rem}
	.eight_rul .eight_rullist img{margin-bottom: 0.5rem;}
	.eight_rul .eight_rullist p{line-height: 0.6rem;height: 0.6rem;font-size: 0.6rem;}
	.enght_te{font-size:0.6rem;width:6.1rem;height: 1.4rem;line-height: 1.4rem;color:#bf9f50;border:1px solid #bf9f50;margin-top: 0px}

	.core_ul {width: 93.75%;}
	.core_ul .core_list {
	    font-size: 36px;
	    width: 46%;
	    float: left;
	    margin: 0 2% 0.6rem;
	}
	.core_title{}
	.core_intro{font-size: 0.5rem;line-height: 0.8rem; height: 4.8rem;;overflow:hidden;}
	.support ul{display: flex;-webkit-display:flex;flex-direction: row;flex-wrap: wrap;justify-content: center;}
	.support ul li{width:23%;margin:0 1%;}
	.support ul li .img_box{width:100%;height: 2.325rem;background: #f7f7f7;margin-bottom: 10px}
	.support ul li .img_box img{height: 67.5%;padding-top: 10.25%}
	.support ul li p{line-height: 0.8rem;font-size: 0.5rem;padding:0 20%;height: 1.6rem}
	.support ul li a{display: block}
	.support ul li {height: auto;margin-bottom: 1rem}
	.bghd{display: none}
	.investment_prospects{width:100%;}
	.invset{line-height: 1.9rem;height: 1.8rem;font-size: 0.7rem;color:#666666;padding:0;border-bottom:0.1rem solid #ececec;}
	.absth {width:auto;height: 1.8rem;line-height: 1.8rem;margin:0 10%;background: #fff;color:#666666;}
	.absth_active,.absth:hover{background: #fff;border-bottom:0.1rem solid #dcb455;}
	.investment_prospects .invset_box_l .invset_box_l_gh{ font-size: 0.6rem;line-height: 1rem;color: #585757;width:93.75%;margin:0 auto;}
	.investment_prospects .invset_box_l .invset_box_l_gh p {margin-bottom: 0.75rem;}
	.invset_box{margin: 1.3rem 0 0}
	.more_lld{display: none}
	.jmsp_all_box {width: 93.75%;}
	.jt_lbmn {margin:1.75rem auto 0;width: 10rem;height:1.5rem;line-height: 1.5rem; font-size:0.6rem;}
	.tlg_l{display: none}
	.bng_height{height:1.75rem;}
	.jmsq_icon i { width: 1.2rem;height:1.5rem;position: absolute;display: inline-block;background-size: contain!important; }

	.jmsq_icon i.sq1{background: url(../image/sq1.png) center center no-repeat;}
	.jmsq_icon i.sq2{background: url(../image/sq2.png) center center no-repeat;}
	.jmsq_icon i.sq3{background: url(../image/sq3.png) center center no-repeat;}
	.inpt1 {height: 1.5rem;line-height:1.5rem; font-size: 0.6rem;text-indent: 0.5em; margin-right: 0; margin-left: 1.4rem; border: none;	  width: 80%;}
	.inpt2 {height: 1.4rem;line-height: 1.5rem;font-size: 0.6rem;
    border: 0.05rem solid #b4b4b5;text-indent: 0.5em;}
    .jmsq_icon {margin-bottom: 0.75rem;}
	
	.six_msbox{width:93.75%;}
    .six_msbox p{height: 1.2rem;line-height: 1.2rem;border-top: 0.1rem solid #dba838;color:#fff;font-size: 0.5rem;margin-bottom: 0.8rem;width:46%;margin:0 2% 0.8rem;}
	.six_ms{padding-bottom: 1.15rem}
	.bgimg1{display:none }
	.bgimg2{display: block}
	.bg1{width:93.75%;margin-bottom:1rem;}
		.title_icong{height: 0.8rem;font-size: 0.5rem;color:#585757;line-height: 0.8rem;    margin-bottom: 0.25rem;}
	
.title_icong i{height:  0.6rem;width: 0.6rem;background: url(../image/stree_g.png) left center no-repeat;top:0.15px;background-size: contain}

.jt_right p { line-height:1.25rem; height: auto;font-size:0.5555555555rem;margin-bottom: 0px;margin-right: 10px;}
.jt_right p i {margin-right: 10px;}


.tj_lc_alldd{display: none}


.tj_lc{width:1600px;margin:0 auto 3rem;}

.tj_lcall .s_lggh1{width:3.2rem;height:1rem;line-height: 1rem;font-size: 0.5rem;text-align: center;
	border-radius: 0.2rem;-webkit-border-radius:0.2rem;}
	.tj_lcall{width:12.5%;float:left;}
.tj_lcall a{display: block;padding:0px;text-align: center;text-align: center;
    width: 5rem;}
.tj_lcall .s_lggh2{font-size:0.5rem;color:#585757;line-height:0.75rem;height: 1.5rem;margin-top: 10px;}
.tj_lcall .s_lggh1:hover{background:#60448d;color:#fff;}
.tj_lcall2  a{float: right}

.tj_lcall{width:100%;}
.tj_lcall2 .s_lggh2{margin-bottom: 20px;margin-top: 0px;}
 .tj_lcall2{padding-bottom: 0px;}
.tj_lcall1{padding-top: 0px;width:100%;}
.tj_lc{background:url(../img/join/asdfbn.png) center center no-repeat;background-size:contain }

.tj_lcall{
	position: relative;
    top: 2.3rem;
   
    }


.tj_lc_alldd2{display: block}


.six_msbox_list{width:40%;float:left;color:#fff;text-align: center;margin:0 5% 30px;}
.six_msbox_list>div:nth-of-type(1){
	font-size:16px;
	width:36px;
	height: 36px;
	line-height: 36px;
}
.six_msbox_list>div:nth-of-type(2){
	font-size:16px;
	line-height: 40px
}
.six_msbox_list>div:nth-of-type(3) {
	margin:0 auto;
	font-size:14px;
	line-height: 20px
}
.ul_lg{
	width:100%;
	margin:0 auto;
}
.ul_lg ul li{
	width: 48.2%;
	margin-bottom: 20px;
}
.ul_lg ul li p:nth-of-type(1){
	font-size:16px ;
	line-height: 30px;
	height: 30px;
	width: 30px;
}
.ul_lg ul li p:nth-of-type(2){
	font-size:16px ;
	line-height: 40px;
	height: 40px;
}
.ul_lg ul li p:nth-of-type(3){
	font-size:14px ;
}
.ul_lg ul li p:nth-of-type(4),.ul_lg ul li p:nth-of-type(5){
	font-size:13px ;
	line-height: 20px;
}

.wechats_btm .wechat_phone1,.wechats_btm .wechat_phone2{
	font-size: 16px;
	line-height: 30px;
}
.wechats_btmimg{
	text-align: center;
	padding: 30px 0 40px;
}
.wechats_btmimg img{
	width: 120px;
	height: 120px;
	
}
.wechats_btmimg p{
	line-height: 30px;
	font-size: 14px;
}

.wechats_btmimg>div>div{
	margin: 0 10px 0;
	display: inline-block;

}
}


.jm_lgs{width:78.125%;margin:0 auto 114px;}
.bngtrk1{display: block;}
.bngtrk2{display: none;}
.jm_lgs img{width:100%;}
		
@media screen and (max-width: 640px){
	 .jm_lgs{width:93.75%;margin-bottom: 1rem;}
	.bngtrk2{display: block;}
	.bngtrk1{display: none;}
}