html,body{width:100%;}
.banner {background-size:cover!important; }
.img_disulist ul li{width:100%;}
.jmlc2 .tj_lcall1 {padding-top: 0px;top: 274px;}
.core_ul { width: 78.125%; margin: 0 auto;}
.six_ms { background-size: cover!important;}

.tj_iconw{width:100%;overflow:hidden;height: auto;background:#9b6446;}
.tj_iconw_lhg{width:56.5%;height:auto;float: left;overflow:hidden;}
.tj_iconw_lhg img{width:100%;}

.six_msbox {
    width: 78.125%;font-size: 35px;
    margin: 0 auto;
}
.bg1 {
    width: 78.125%;
    margin: 0 auto 70px;
}
.tj_lc{ width: 78.125%;margin:0 auto;}
.tj_lc {
    background: url(../image/fsfv.png) -115px center no-repeat;
    background-size: contain;
    padding: 0 1%;
}
.tj_lcall1 {
    
    top: 434px;
}

.tj_lcal3{top: 301px!important;}


.imgxq_right p{line-height: 1.6;
    font-size: 0.65em;}
.imgxq_two .imgxq_right p{line-height: 1.6;
    font-size: 0.65em;}

.jzty_box2 p{line-height: 45px;font-size: 24px}
@media screen and (max-width: 2350px){
	.imgxq_right p.xq_1{padding-top: 25px;}
	.imgxq_two .imgxq_right p.xq_1{padding-top: 10px}
	.imgxq_right p{line-height: 1.6;
    font-size: 0.65em;}
.imgxq_two .imgxq_right p{line-height: 40px;font-size: 21px}

}