.banner2{height: 75%;;}
.banner3{height: 100%}
.banner_all{width: 90%;color:#fff;margin:auto;right:0;left:0;top: 42%;position: absolute;}

.banner_all .pst1{width:66px;height: 6px;background: #fff;margin:0 auto;margin-bottom: 31px;display: none}
.banner_all .pst2{font-size: 45px;line-height: 58px;height: 58px;text-align: center;margin-bottom: 26px}
.banner_all .pst3{font-size: 25px;line-height: 28px;height: 28px;text-align: center;}
.pst2 span:nth-of-type(1){margin: 0 0.325em;}
.pst2 span:nth-of-type(2){margin: 0 0.325em;}

.brandOrigin .brand_title{font-size: 28px;line-height: 48px;height: 48px;padding:90px 0 64px;text-align: center;color:#bf9f50;}
.brandOrigin{margin-bottom: 110px}
.brand_box p{color:#585757;font-size: 18px;line-height: 28px;margin-bottom: 30px;}
.brand_box{width:1175px;margin:0 auto;}
.center_bg{height: 400px;background-size: cover!important}


.kj_center{width:100%;}
.kj_cen_title{width:100%;height: 50px;line-height: 50px;text-align: center;display: flex;-webkit-display:flex;justify-content: center;flex-direction: row ;padding:140px 0 110px;}
.kj_cen_title .kj_centticon{cursor:pointer;width:185px;height: 50px;line-height: 50px;color:#fff;font-size: 24px;background: #60448d;display:inline-block;float: left;text-align: center;margin: 0 16px;}
.kj_cen_title .kj_centticon_active,.kj_cen_title .kj_centticon:hover{background: #bf9f50;}
.kj_center_box_all{width:1175px;height:;margin:0 auto;}
.kj_center_box_all>p:nth-of-type(1){width:52px;height: 5px;background: #bf9f50}
.kj_center_box_all>p:nth-of-type(2){color:#bf9f50;font-size: 36px;height: 40px;line-height: 40px;margin:40px 0 50px;}
.context_alls{width:100%;font-size: 18px;line-height: 28px;color: #585757;}
.box_lg{height: 60px}
.box_lg1{height: 100px}
.context_alls p{margin-bottom:35px}
  
 
@media screen and (min-width: 640px) {
	.context_alls::-webkit-scrollbar  
	{  
	    width: 9px;  
	    height: 9px;  
	    background-color: #dbdcdc;  
	    border-radius: 50%;
	    display: none
	}  
	.context_alls:hover::-webkit-scrollbar {display: block;}
	  
	  
	.context_alls::-webkit-scrollbar-track  
	{  
	    border-radius: 10px;  
	    background-color: #dbdcdc;  
	}  
	  
	  
	.context_alls::-webkit-scrollbar-thumb  
	{   border-radius: 50%;
	    border-radius: 10px;  
	    background-color: #b4b4b5;  
	}
}
@media screen and (max-width: 1400px) {
	.banner2{height:85%;;}
.box_lg{height:2.9rem;}
.box_lg1{height:1rem;}
.pst2 span{font-size: 30px}
}
@media screen and (max-width: 1180px) {
	.banner_all .pst2{font-size: 40px}
	.brandOrigin .brand_box{width:96%;}
	.brandOrigin .brand_title{padding: 1.2rem 0 0.85rem;}
	.brandOrigin{margin-bottom: 1.4rem}
	.center_bg{height: 5.3rem;}

	.kj_cen_title{padding:1.8rem 0 1.5rem;}
	.kj_center_box_all{width:96%;margin:0 auto;}
	
}

@media screen and (max-width: 900px) {
	.banner_all .pst2{font-size: 0.75rem}
	.banner_all{width:100%;}
}
@media screen and (max-width: 800px) {
	.kj_cen_title .kj_centticon{font-size: 0.5rem;line-height: 1rem;height: 1rem}
	.kj_cen_title{line-height: 1rem;height: 1rem}
}

@media screen and (max-width: 640px) {
	.box_lg1{height:0rem;}

	.banner3{background-size:cover!important }
	.kj_center_box_all{width:93.75%;}
	.phone_num{height:3.125rem;width: 6.625rem;padding-top: 0.3rem}
	.banner2{height: 16.25rem;max-height: 800px}
	.banner3{height: 16.25rem!important;max-height: 100%}
	.jtou{display: none}
	.banner_all .pst2 span{width:100%;display: block;margin:0;font-size: 0.9rem;line-height: 1.3rem}
	
	.banner_all .pst1{width:1.2rem;height: 0.15rem;background: #fff;margin:0 auto;margin-bottom:0.5rem;max-width: 36px}

	.banner_all .pst2{font-size: 0.75rem;line-height: 1.05rem;height: 1.05rem;margin-bottom: 26px}
	.banner_all .pst3{font-size: 25px;line-height: 28px;height: 28px;text-align: center;}
	
	.brand_box{width:93.75%;margin:0 auto;}
	.ps_lg{width:0.9rem;height: 0.15rem;background: #bf9f50;margin:0 auto;margin-top: 1.5rem}
	.brandOrigin .brand_title{padding: 1.2rem 0 0.85rem;font-size: 0.8rem;line-height: 2rem;height: 2rem;padding:0;margin-bottom: 0.5rem}
	.brandOrigin .brand_box{width:93.75%}
	.brand_box p {font-size: 0.6rem;line-height: 1rem;margin-bottom: 0.8rem;}
	
	.kj_cen_title .kj_centticon{font-size: 0.6rem;line-height: 1.55rem;height: 1.5rem;background: #fff;color:#333;width: 20%;}
	.kj_cen_title{line-height: 1.6rem;height: 1.6rem;padding:0;border-bottom: 1px solid #f2f2f2;margin-bottom: 1.5rem}
	.kj_cen_title .kj_centticon_active,.kj_cen_title .kj_centticon:hover{background: #fff;border-bottom:0.1rem solid #bfa050;}
	.context_alls{height: auto;overflow-y: auto;font-size: 0.6rem!important;line-height: 1rem!important;width:100%;padding:0;}
	.kj_center_box_all>p:nth-of-type(1){margin:0 auto;width:1.2rem;height: 3px}
	.kj_center_box_all>p:nth-of-type(2){font-size: 0.8rem;line-height: 2rem; height: 2rem;padding: 0;margin:0 auto;text-align: center;margin-bottom: 0.75rem;}
	.context_alls p{margin-bottom:0.6rem}
	.box_lg{height: 1.75rem}
}




.kj_center_alg .kj_center_list_alg{line-height: 50px;height: 50px;font-size: 18px;color:#585757;background: #f6f8f8}
.kj_center_alg .kj_center_list_alg_2{background: #e0dceb}


.box_gldlist{width:100%;}
.box_llgblist{width:33.33333%;float: left;margin-bottom: 28px}
.pvbsd1{height: 30px;line-height: 30px;font-size: 24px;color:#60448d;border-left:4px solid #60448d;padding-left: 15px;margin-bottom: 14px;}
.pvbsd2{line-height: 28px;height: 28px;font-size: 18px;color:#585757;}
.context_alls{margin-bottom: 40px} 



.content_yj{width:100%;font-size: 18px;line-height: 28px;color:#585757;margin-bottom: 75px;}
.yj_allbox{width:1175px;margin: 0 auto;}
.yj_allboxlg{width:50px;height: 5px;background: #bf9f50}
.yj_allbox_title{line-height: 90px;font-size: 36px;color:#bf9f50;margin-bottom: 15px}

.ryall {width:1230px;margin-bottom:140px;}
.ryall .list_phg{cursor:pointer;width:360px;height: 56px;background: #f6f8f8;margin:0 48px 13px 0;font-size: 18px;color:#585757;line-height: 56px;text-align: left;float: left}
.ryall .list_phg a{padding-left: 52px;color:#585757}
.ryall .list_phg:hover{background: #bf9f50;color:#fff;}
.ryall .list_phg:hover a{color:#fff;}
.news_llg{display: flex;-webkit-display:flex;flex-direction: row;justify-content: space-between;width:1175px;flex-wrap: wrap;}
.news_bvng{width:380px;margin-bottom: 15px}
.news_bvng:nth-last-of-type(1){margin-right: -1.3%;}
.news_bvng img{width:380px;}
.news_bvng p{font-size: 14px;color:#585757;line-height: 24px;margin-top: 9px;height: 48px;overflow:hidden;}
@media screen and (min-width: 1180px){
	.kj_center_alg{width:1175px;}
	.kj_center_alg .kj_center_list_alg>p{width:50%;height: 50px;float: left;}
	.kj_center_list_alg_2{background: #e0dceb}
	.kj_center_alg .kj_center_list_alg .psteo1 span{margin-left: 170px;}

}
@media screen and (max-width: 1180px){
	.kj_center_alg .kj_center_list_alg>p{width:50%;height: 50px;float: left;text-align: center;}
	.kj_center_alg .kj_center_list_alg .psteo1 span{margin-left: 0px;}
	.box_llgblist{width: 50%;text-align: center}
	.pvbsd1{border-left:none;padding-left: 0;}
	.news_llg{width:100%;}
	.news_bvng{width:32%;}
	.news_bvng img{width:100%;}
	.content_yj{ margin-bottom: 1rem;}
	.ryall{width:100%;}
	.ryall .list_phg{width:30%;margin:10px 1.66665%;text-align: center;    height: 40px;line-height: 40px;}
	.ryall .list_phg a{padding:0;font-size: 14px}
		.ryall{margin-bottom: 2rem}
		.yj_allbox{width:96%;}
}
@media screen and (max-width: 900px){
	.kj_center_alg .kj_center_list_alg>p{font-size: 15px}

	.yj_allbox_title{line-height: 1.4rem;font-size: 0.6rem;color: #bf9f50;margin-bottom: 15px;}
}
@media screen and (max-width: 800px){
	.kj_center_alg .kj_center_list_alg>p{width:100%;line-height: 40px;height: 40px;float: none}
	.kj_center_alg .kj_center_list_alg{line-height: 40px;height: 80px;font-size: 15px;color:#585757;background: #f6f8f8}
	.kj_center_alg .kj_center_list_alg_2{background: #f6f8f8}
	.psteo2{background: #e0dceb}
	.pvbsd1{height: 26px;line-height: 26px;font-size: 18px;color:#60448d;margin-bottom: 14px;}
	.pvbsd2{line-height: 24px;height: 24px;font-size: 14px;color:#585757;}
	.ryall .list_phg{width:45%;margin:10px 2.5%;}
}

@media screen and (max-width: 640px){
	.kj_center_alg .kj_center_list_alg{line-height: 1.35rem;height: 2.7rem;color:#585757;background: #f6f8f8}
	.kj_center_alg .kj_center_list_alg>p{width:100%;line-height: 1.35rem;height: 1.35rem;float: none;font-size: 0.6rem;}
	.box_llgblist{width:100%;float: none;margin-bottom: 0.75rem;}


	.pvbsd1{height:0.75rem;line-height:0.9rem;font-size: 0.7rem;color:#60448d;padding-left: 0px;margin-bottom: 0.4rem;}
	.pvbsd2{line-height: 1rem;height: auto;font-size: 0.6rem;color:#585757;}
	.yj_allbox{width:93.75%;}
	.news_bvng{width: 48.3%;margin-bottom: 15px}
	.news_bvng p{font-size: 12px;line-height: 18px;height: 54px;}
	.news_bvng:nth-of-type(4){margin-right: -2.85%;}

	.yj_allbox_title{font-size: 0.8rem;line-height: 2rem; height: 2rem;padding: 0;margin:0 auto;text-align: center;margin-bottom: 0.75rem;}
	.yj_allboxlg{margin: 0 auto;width: 1.2rem;height: 3px;}

    .content_yj{height: auto;font-size: 0.6rem; line-height: 1rem;    margin-bottom: 1rem;}
    .content_yj p{padding-bottom: 0.85rem}
    .ryall .list_phg{width:45%;margin:10px 2.5%;}


}

@media screen and (max-width: 540px){

	.ryall .list_phg{width:100%;height: 1.4rem;line-height: 1.4rem;font-size: 0.6rem;margin:0;margin-bottom: 0.7rem;}
}


.boxggs{width:68%;margin:0 auto;position:relative; top:45%;}

.boxggs p:nth-of-type(2),.boxggs p:nth-of-type(3),.boxggs p:nth-of-type(4){color:#fff;font-size: 22px;line-height: 36px;height: 36px}
.boxggs a{width:125px;display: block;}
.boxggs a img{width:125px;height: 125px;margin-top: 15px;}
.boxggs a div{background:rgba(0,0,0,0.4);font-size: 17px;color:#fff;letter-spacing: 12px;text-align: center;height: 36px;line-height: 36px}


@media screen and (max-width:780px){

	.boxggs{width: 93.75%;margin:0 auto;position:relative;top:35%;}

	.boxggs p:nth-of-type(2),.boxggs p:nth-of-type(3),.boxggs p:nth-of-type(4){color:#fff;font-size:;line-height: 1rem;height: 1rem;font-size: 0.6rem;}
	.boxggs a{width: 3rem;display: block;}
	.boxggs a img{width: 3rem;height: 3rem;margin-top: 15px;}
	.boxggs a div{background:rgba(0,0,0,0.4);font-size: 0.5rem;color:#fff;letter-spacing: 0px;text-align: center;height: 1rem;line-height: 1rem;}

}